:root{
  --color-1: #43acdc;
  --color-2: #e56dc3;
  --color-3: #eb9c0b;
  --color-4: #1abd13;
  --color-5: #1b232a;
  --color-6: #e0ebff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./images/htn-background.png");
  background-attachment: fixed;
}

.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

h1 {
  text-align: center;
}

